html {
  height: 100%;
}
body {
  min-height: 100%;
}
body{
  background-image: linear-gradient(lightskyblue,lightcyan);
  background-size: contain, cover;
  background-repeat: no-repeat;
  overflow: hidden;
}


